<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle b_F79999" href="{% url 'myapp:index' %}"><i class="icon-dashboard"></i>
                <span>首页主界面</span></a>
        </div>
    </div>
    <div class="accordion-group">
        <a class="accordion-toggle b_F6F1A2" href="{% url 'myapp:person' %}"><i class="icon-user"></i>
            <span>个人信息管理</span></a>
    </div>
    <div class="accordion-group">
        <a class="accordion-toggle b_F6F1A2" href="{% url 'myapp:upload' %}"><i class="icon-upload"></i>
            <span>上传电子证照信息</span></a>
    </div>
    <div class="accordion-group">
        <a class="accordion-toggle b_F6F1A2" href="{% url 'myapp:see' %}"><i class="icon-heart"></i>
            <span>查看电子证照信息</span></a>
    </div>
    <div class="accordion-group">
        <a class="accordion-toggle b_F6F1A2" href="{% url 'myapp:upload_sfz' %}"><i class="icon-upload"></i>
            <span>上传身份证信息</span></a>
    </div>

    <div class="accordion-group">
        <a class="accordion-toggle b_F6F1A2" href="{% url 'myapp:see_sfz' %}"><i class="icon-heart"></i>
            <span>查看身份证信息</span></a>
    </div>
    <div class="accordion-group">
        <a class="accordion-toggle b_F6F1A2" href="{% url 'myapp:upload_yyzz' %}"><i class="icon-upload"></i>
            <span>上传营业执照信息</span></a>
    </div>

    <div class="accordion-group">
        <a class="accordion-toggle b_F6F1A2" href="{% url 'myapp:see_yyzz' %}"><i class="icon-heart"></i>
            <span>查看营业执照信息</span></a>
    </div>
</div>